@charset "utf-8";

.bg{
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: url(../images/bg/img_login_1920x1080.jpg) no-repeat  center center;
	background-size: cover;

	z-index: 0;
}

.bg_login{
	background-image: url(../images/bg/img_login_1920x1080.jpg);
}