@charset "utf-8";

.bg{
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background: url(../images/bg/img_login_1920x1080.jpg) no-repeat  center center;
	background-size: cover;

	z-index: 0;
	min-height: 568px;
}

.bg_login{
	background-image: url(../images/bg/img_login_1920x1080.jpg);
}





/* css3 动画 */
.u_btn,
.m_reg_login .tab .itme{
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}




